
<form [formGroup]="userForm" (ngSubmit)="save()">
        <div class="row my-3">
            <div class="form-group col d-flex flex-column" >
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name" name="name" id="name" required>
                <span class="text-danger"
                *ngIf="formControls['name'].touched && formControls['name'].errors">
                Coloque um Nome válido
            </span>
            </div>
            <div class="form-group col d-flex flex-column">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" formControlName="cpf" name="cpf" id="cpf" required>
                <span class="text-danger"
                *ngIf="formControls['cpf'].touched && formControls['cpf'].errors">
                Coloque um CPF válido
            </span>
            </div>
        </div>
        <div class="row my-3">
            <div class="form-group col d-flex flex-column">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" formControlName="email" name="email" id="email" required email>
                <span class="text-danger"
                    *ngIf="formControls['email'].touched && formControls['email'].errors">
                    Coloque um E-mail válido
                </span>
            </div>
            <div class="form-group col d-flex flex-column">
                <label for="phone">Telefone</label>
                <input type="text" class="form-control" formControlName="phone" name="phone" id="phone" required>
                <span class="text-danger"
                *ngIf="formControls['phone'].touched && formControls['phone'].errors">
                Coloque um Telefone válido
            </span>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-group col d-flex flex-column">
                <label for="birthday">Data de nascimento</label>
                <input type="date" class="form-control" formControlName="birthday" name="birthday" id="birthday" required>
                <span class="text-danger"
                *ngIf="formControls['birthday'].touched && formControls['birthday'].errors">
                Selecione uma data
            </span>
            </div>
            <div class="form-group col d-flex flex-column">
                <label for="gender">Gênero</label>
                <select class="form-control" id="gender" formControlName="gender" required="">
                  <option>Mulher trans</option>
                  <option>Mulher cis</option>
                  <option>Homem trans </option>
                  <option>Homem cis</option>
                  <option>Travesti</option>
                  <option>Não binário</option>
                  <option>Prefiro não revelar</option>
                  <option>Outros</option>
                </select>
                <span class="text-danger"
                *ngIf="formControls['gender'].touched && formControls['gender'].errors">
                Selecione uma opção
            </span>
              </div>
              </div>
              <div class="d-flex justify-content-end my-5">
                <button [disabled] ='!userForm.valid' type="submit" class="btn btn-primary">Salvar</button>
              </div>
                
    
    
</form>
<div>
    {{data}}
</div>

